<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="test_router" xsi:type="array">
                    <item name="class" xsi:type="string">StackExchange\Magento\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">61</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Layout">
            <plugin name="my-plugin-name"  disabled="true"
                    type="StackExchange\Magento\Plugin\Controller\Result\LayoutPlugin" />
    </type>
    <type name="Magento\Sales\Controller\Order\View">
            <plugin name="sales_order_view" 
                    type="StackExchange\Magento\Plugin\Controller\Order\ViewPlugin" />
    </type>
</config>